
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 16px;
}


h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orange;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    margin: 0;
}

li {
    padding: 6px;
} 

.main {
    display: flex;
    justify-content: space-around;
    padding: 16px;
}

.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
} 